.main-content .title-section {
  height: 520px;
  background: url("https://www.itschool.ro/_next/static/media/background.008d1f37.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .title-section .heading1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 50px;
}
.main-content .about-experiences .content {
  padding: 100px;
  display: flex;
  gap: 100px;
}
.main-content .about-experiences-text {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
}
.main-content .about-experiences .flex-column {
  width: 100%;
}
.main-content .about-experiences-image img {
  width: 100%;
}
.trainers-section {
  padding: 50px 20px;
  background-color: #fafafa;
}
.trainers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.left-content h3 {
  font-size: 16px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.left-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.right-content p {
  font-size: 18px;
  color: #666;
  max-width: 500px;
  line-height: 1.6;
}
.trainers-container-btn {
  display: flex;
  justify-content: center;
  text-align: center;
}
.trainers-invitation {
  padding: 50px 20px;
  text-align: center;
}
.invitation-content {
  max-width: 800px;
  margin: 0 auto;
}
.invitation-content h1 {
  text-align: center;
  font-size: 36px;
  color: rgb(25, 30, 48);
  margin-bottom: 20px;
}
.invitation-content p {
  line-height: 1.22;
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
  line-height: 1.6;
}
.button-container {
  text-align: center;
}
.button {
  padding: 15px 30px;
  background-color: #008060;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
}
.locations-section {
  padding: 50px 20px;
  background-color: #f8f8f8;
}
.locations-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.text-content h3 {
  font-size: 16px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text-content h1 {
  font-size: 36px;
  color: rgb(25, 30, 48);
  margin-bottom: 20px;
}
.text-content p {
  font-size: 18px;
  color: #333;
  max-width: 500px;
  line-height: 1.6;
}
.map-image img {
  max-width: 300px;
}
.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.image-container img {
  width: calc(33.33% - 20px);
  border-radius: 15px;
  height: 250px;
}
