.heading5-testimonials {
  margin: 0 0 8px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: var(--dark-blue);
}

.main-content .title-section {
  height: 520px;
  background: url("https://www.itschool.ro/_next/static/media/background.008d1f37.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content .title-section .heading1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 50px;
}
.container {
  width: 80%;
  margin: 20px auto;
}

.filters {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.filters select {
  margin-bottom: 80px;
  width: 45%;
  padding: 10px;
  font-size: 16px;
  border-radius: 30px 30px 30px 30px;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 20px;
  box-shadow: #191e301a 0px 20px 40px;
}

.profile-pic img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.info {
  margin-left: 20px;
}
.heading2 {
  margin-bottom: 20px;
}
.img {
  width: 24px;
  height: 24px;
}
